<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .persons tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .persons td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<form id="edit-form" th:object="${book}" th:method="POST" th:action="@{/book/new}">
    <h3>Add book:</h3>

    <div class="row">
        <label for="book-title">Title:</label>
        <input id="book-title" th:name="title" type="text" value="Название книги" />
    </div>

    <div class="row">
        <label for="addAuthor">Author: </label>
        <select class="row" id="addAuthor" th:field="*{author}">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
        </select>
    </div>

    <div class="row">
        <label for="addGenre">Genre: </label>
        <select class="row" id="addGenre" th:field="*{genre}" >
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>